.section_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;

  background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.9)), url(../assets/imgs/3-1.jpg);
  background-position: center;
  background-size: cover;
}

header {
  justify-content: space-between;
  padding: 0px 15px;
  width: calc(100% - 30px);
}

.section_main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88%;
}

.container_kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main_kpi {
  display: flex;
  justify-content: center;
}

.status_kpi {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  width: 80%;
}

.card_kpi {
  background-color: rgba(66, 63, 63, 0.3);
  border: 3px solid #FF6600;
  border-radius: 8px;
  height: 170px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px 0px 0px;
}

.card_kpi p {
    margin: 0px;
    color: #c86d30;
}

.card_kpi span {
    font-size: 55px;
    color: #FF6600;
}