.section_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;

  background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.9)), url(../assets/imgs/3-1.jpg);
  background-position: center;
  background-size: cover;
}

header {
  justify-content: space-between;
  padding: 0px 15px;
  width: calc(100% - 30px);
}

.section_main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88%;
}

.container_kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.main_kpi {
  display: flex;
  justify-content: center;
}

.status_kpi {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  width: 80%;
}

.card_kpi {
  background-color: rgba(66, 63, 63, 0.3);
  border: 3px solid #FF6600;
  border-radius: 8px;
  height: 170px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px 0px 0px;
}

.card_kpi p {
    margin: 0px;
    color: #c86d30;
}

.card_kpi span {
    font-size: 55px;
    color: #FF6600;
}


.dashboards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 32px;
  padding: 50px 32px 30px;
  max-width: 1400px;
  margin: 0 auto;

  width: 100%;
}

.chart-container {
  background-color: rgba(66, 63, 63, 0.6);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  padding: 0px 24px;
}

.chart-container h3 {
  color: #FF6600;
}

.chart-container canvas {
  width: 100%;
  /* height: 500px; */
}

.chart-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-container div span p {
  font-size: 14px;
  color: #766b6b;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
}

.chart-container div span h4 {
  text-align: center;
  color: #f97c00;;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chart-container div span p img {
  height: 20px;
}