@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #c6d5df;
}

.section_banner {
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../assets/imgs/background1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}

.section_banner .container {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_banner .container p {
  max-width: 700px;
  font-style: italic;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  color: #FF6600;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 10px;
}

.section_banner .container p span {
  padding: 10px 25px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header div img {
  height: 60px;
}

header a {
  text-decoration: none;
  color: #786a6a;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.div_teams_row {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  padding: 20px 0px;
}

.div_teams_row img {
  width: 100px;
}

.section_history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_history h1 {
  text-align: center;
  margin: 0px;
}

.section_history .container {
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 0px 0px 20px 0px;
  border-radius: 15px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  background-color: #cad0d8;
  
  background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.9)),url(../assets/imgs/background2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.content img {
  border-radius: 15px;
  height: 150px;
  float: left;
  margin: 0px 10px 0px 0px;
  opacity: 0.7;
}

.content h1 {
  color: #abafc4;
}

.content p {
  text-align: justify;
  margin: 0px;
  color: #b3b7c8;
}

.section_ages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.section_ages h1 {
  text-align: center;
  color: #d79234;
  font-weight: bolder;
  font-size: 40px;
  margin: 30px 0px 30px 0px;
}

.section_ages .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.div_player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_player h2 {
  margin: 0px 0px 5px 0px;
  font-size: 32px;
  color: #23242b;
}

.div_player img {
  width: 170px;
  opacity: 0.8;
  border-radius: 15px;
  border: 8px solid #9da6b3;
}

.section_mamba {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_mamba .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_mamba .container h1 {
  text-align: center;
  color: #d79234;
  font-size: 40px;
  margin: 50px 0px 10px 0px;
}

.section_mamba .container p {
  font-style: italic;
  font-weight: bolder;
  color: #893f0e;
}

.section_mamba .container .div_imagem_kobe {
  height: 600px;
  width: 100%;
  border-radius: 15px;
  background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.9)),url(../assets/imgs/97-1.jpg);
  background-position: center;
  background-size: cover;
}

.section_principles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.section_principles h1 {
  color: #d79234;
  font-size: 40px;
  margin: 45px 0px 20px 0px;
}

.section_principles .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.section_principles .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9da6b3;
  border-radius: 15px;
  padding: 15px 20px;
}

.section_principles .container .card h2 {
  margin: 0px 0px 15px 0px;
  color: #23242b;
}

.section_principles .container .card p {
  max-width: 300px;
  margin: 0px;
  text-align: justify;
}

footer {
  background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)),url(../assets/imgs/banner2.png);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 100%;
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

footer .container div img {
  height: 160px;
}

footer a {
  text-decoration: none;
  color: #dcd0d0;
  font-size: 18px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  padding: 0px;
  margin-top: -5px;
}

footer span {
  color: #857c7c;
  margin-top: 15px;
}