@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
              font-family: "Inter", sans-serif;

}

.section_banner {
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../assets/imgs/background1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #FFFFFF;
}

header ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.section_history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_history h1 {
  text-align: center;
}

.section_history .container {
  width: 48%;
}

.content {
  display: flex;
  gap: 20px;
}

.content img {
  height: 150px;
  float: left;
  padding: 0px 10px 0px 0px;
}

.content p {
}