.section_main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.section_main .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.banner_login {
    background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.9)), url(../assets/imgs/127-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 50%;
}

.form_container {
    height: 100%;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.form_container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form_container form h1 {
    color: #FF6600;
    text-align: center;
    font-weight: bolder;
}

.form_container form label {
    width: 80%;
    color: #202123;
}

.form_container form input {
    width: 80%;
    height: 35px;
    font-size: 16px;
    border: none;
    border: 2px solid #9da6b3;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 0px 5px;
}

.form_container form button {
    background-color: #FF6600;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    border-radius: 7px;
    width: calc(80% + 10px);
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
}