header {
    justify-content: space-between; 
    width: calc(100% - 30px); 
    padding: 0px 15px;
}

header a {
    /* color: #202123; */
}

.section_main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.9)), url(../assets/imgs/127-1.jpg);
    background-position: center;
    background-size: cover;
}

.section_main .container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    width: 88%;
    justify-content: space-between;
    align-items: center;
}

.form_container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 760px;
    align-items: center;
    background-color: rgba(4, 9, 32, 0.6);
    border-radius: 15px;
    padding: 25px 0px 40px 0px;
}

.form_container form h1 {
    color: #d86518;
    text-align: center;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}

.form_container form label {
    width: 88%;
    color: #9ca2af;
}

.form_container form input {
    opacity: 1;
    width: 88%;
    height: 35px;
    font-size: 16px;
    border: none;
    border: 2px solid #9da6b3;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 0px 5px;
}

.form_container form button {
    background-color: #cc5b10;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border: 2px solid #cc5b10;
    margin-top: 20px;
    border-radius: 7px;
    width: calc(88% + 10px);
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
}