body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.9)), url(../assets/imgs/107-1.jpg);
    background-position: center;
    background-size: cover;
    
}

header {
    justify-content: space-between;
    padding: 0px 10px;
}

h1 {
    color: #FF6600;
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 0px;
}

#welcome_message {
    padding: 0px 0px 0px 30px;
}

section h1 {
    font-size: 45px;
    margin-bottom: 25px;
    /* margin: 40px 0px 20px 0px; */
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 70px; */
}

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section_performance .container {
    margin-top: 60px;
}

.section_goals .container_cards {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid blue; */
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    max-width: 680px;
}

.section_goals .container_cards .card {
    background-color: rgba(66, 63, 63, 0.3);
    border: 3px solid #FF6600;
    border-radius: 8px;
    height: 170px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px 0px 0px;
}

.section_goals .container_cards .card p {
    margin: 0px;
    color: #c86d30;
}

.section_goals .container_cards .card span {
    font-size: 55px;
    color: #FF6600;
}

/* SECTION PERFORMANCE */
.section_performance .container_cards {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 50px;
    max-width: 680px;
}

.section_performance .container_cards .card {
    background-color: rgba(66, 63, 63, 0.3);
    border: 3px solid #b4571d;
    border-radius: 8px;
    height: 170px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.section_performance .container_cards .card span {
    font-size: 50px;
    font-weight: bolder;
    color: #a96024;
}